In [116]:
import warnings
warnings.filterwarnings('ignore')

import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

from tqdm import tqdm
tqdm.pandas()

pd.options.display.max_columns = None
pd.options.display.max_rows = None

In [117]:
match_data = pd.read_csv("C:/Users/ravis/Downloads/664389efa0868_match_level_scorecard.csv")
batsman_data = pd.read_csv("C:/Users/ravis/Downloads/663e2b548c98c_batsman_level_scorecard.csv")
bowler_data = pd.read_csv("C:/Users/ravis/Downloads/663e2b2c60743_bowler_level_scorecard.csv")
train_data = pd.read_csv("C:/Users/ravis/Downloads/663e2b6d54457_train_data_with_samplefeatures.csv")
test_data = pd.read_csv("C:/Users/ravis/Downloads/6644a1e287df6_test_data_with_samplefeatures.csv")

In [118]:
match_data.head()

,match id,team1,team2,winner,by,win amount,toss winner,toss decision,venue,city,match_dt,lighting,series_name,season,ground_id,umpire1,umpire2,inning1_runs,inning1_wickets,inning1_balls,inning2_runs,inning2_wickets,inning2_balls,team1_id,team1_roster_ids,team2_id,team2_roster_ids,series_type,winner_id,player_of_the_match_id
0,8638034,Nn Ds,Wn,Wn,wickets,9.0,Wn,field,By Ol,Mount Maunganui,2021-01-01,night match,Sr Sh,2020/21,17681,Dn Mw,TJ Pe,148,6,130,152.0,1.0,97.0,17982,7907451.0:4381761.0:31464.0:258649.0:4949790.0...,18570,2653993.0:6718326.0:6718382.0:2486896.0:228878...,other_domestic,18570,NaN
1,8588005,Me Rs,Sy Tr,Sy Tr,runs,7.0,Sy Tr,field,Ca Ol,Carrara,2021-01-01,night match,Bg Bh Le,2020/21,6663,D Tr,PJ Ge,166,6,106,117.0,2.0,74.0,33942,37351.0:46794.0:5406540.0:2231928.0:181404.0:1...,33963,1506098.0:1749075.0:36665.0:2083409.0:7534652....,other_domestic,33963,1749075.0
2,8587837,Sy Ss,Be Ht,Be Ht,wickets,4.0,Sy Ss,bat,Be Ct Gd,Brisbane,2021-01-02,night match,Bg Bh Le,2020/21,1476,GJ Dn,PJ Ge,165,8,126,171.0,6.0,119.0,33956,7869987.0:7620283.0:2076192.0:4002340.0:306369...,33921,7620269.0:2286437.0:87191.0:5786766.0:3114803....,other_domestic,33921,3890984.0
3,8638041,Nn Ds,Oo,Oo,wickets,2.0,Oo,field,By Ol,Mount Maunganui,2021-01-02,night match,Sr Sh,2020/21,17681,GA St,TJ Pe,153,7,128,156.0,8.0,126.0,17982,7907451.0:4381761.0:31464.0:4949790.0:258649.0...,18360,2319638.0:256080.0:7918280.0:3913447.0:2690498...,other_domestic,18360,NaN
4,8587921,Ht Hs,Me Ss,Ht Hs,runs,21.0,Me Ss,field,Be Ol,Hobart,2021-01-02,day/night match,Bg Bh Le,2020/21,6348,GA Ad,NR Je,164,5,126,143.0,9.0,123.0,33928,4223883.0:2161599.0:1655436.0:5788418.0:319948...,33949,363047.0:2275097.0:3901078.0:2275195.0:4230127...,other_domestic,33928,3125849.0

In [119]:
batsman_data.head()

,match id,batsman,batsman_id,batsman_details,is_batsman_captain,is_batsman_keeper,inning,runs,balls_faced,over_faced_first,wicket kind,out_by_bowler,out_by_fielder,bowler_id,bowler_details,is_bowler_keeper,is_bowler_captain,strike_rate,Fours,Sixes,match_dt
0,8638034,KD Ce,7907451.0,NZ:Right-hand bat:Right-arm medium-fast:,0.0,0.0,1,7,5,1.1,caught,JS Nm,TM Jn,2486896.0,NZ:Left-hand bat:Right-arm medium-fast:,0.0,0.0,140.00,1.0,NaN,2021-01-01
1,8638034,TL St,4381761.0,NZ:Right-hand bat:None:,0.0,1.0,1,46,46,1.2,caught,R Ra,MG Bl,6718382.0,NZ:Left-hand bat:Slow left-arm orthodox:,0.0,0.0,100.00,4.0,1.0,2021-01-01
2,8638034,HR Cr,4949790.0,NZ:Right-hand bat:Right-arm offbreak:,0.0,0.0,1,9,10,12.1,caught,PF Yd,R Ra,4950294.0,NZ:Right-hand bat:Legbreak googly:,0.0,0.0,90.00,NaN,NaN,2021-01-01
3,8638034,BR Hn,3834305.0,NZ:Right-hand bat:Right-arm medium-fast:,0.0,0.0,1,28,22,13.6,caught,HK Bt,FH An,1585464.0,NZ:Left-hand bat:Right-arm medium-fast:,0.0,0.0,127.27,3.0,NaN,2021-01-01
4,8638034,SC Kn,3776849.0,NZ:Right-hand bat:Right-arm fast-medium:,0.0,0.0,1,18,13,17.2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,138.46,NaN,1.0,2021-01-01

In [120]:
batsman_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 24483 entries, 0 to 24482
Data columns (total 21 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   match id            24483 non-null  int64
 1   batsman             24483 non-null  object
 2   batsman_id          24483 non-null  float64
 3   batsman_details     24483 non-null  object
 4   is_batsman_captain  24483 non-null  float64
 5   is_batsman_keeper   24483 non-null  float64
 6   inning              24483 non-null  int64
 7   runs                24483 non-null  int64
 8   balls_faced         24483 non-null  int64
 9   over_faced_first    24483 non-null  float64
 10  wicket kind         19155 non-null  object
 11  out_by_bowler       19155 non-null  object
 12  out_by_fielder      13838 non-null  object
 13  bowler_id           18128 non-null  float64
 14  bowler_details      18128 non-null  object
 15  is_bowler_keeper    18698 non-null  float64
 16  is_bowler_captain   18128 non-null  float64
 17  strike_rate         24474 non-null  float64
 18  Fours               14200 non-null  float64
 19  Sixes               8994 non-null   float64
 20  match_dt            24483 non-null  object
dtypes: float64(10), int64(4), object(7)
memory usage: 3.9+ MB

In [121]:
batsman_data["wicket kind"].unique()

array(['caught', nan, 'bowled', 'lbw', 'stumped', 'run out',
       'caught and bowled', 'retired not out', 'retired hurt',
       'hit wicket', 'retired out'], dtype=object)

In [122]:
bowler_data.head()

,match id,bowler,bowler_id,bowler_details,is_bowler_captain,is_bowler_keeper,inning,runs,wicket_count,balls_bowled,economy,maiden,dots,Fours,Sixes,wides,noballs,match_dt
0,8638034,BV Ss,6718396.0,NZ:Right-hand bat:Right-arm medium-fast:,0.0,0.0,1,21,0,12,10.50,0,3.0,1,1,3,1,2021-01-01
1,8638034,HK Bt,1585464.0,NZ:Left-hand bat:Right-arm medium-fast:,0.0,0.0,1,34,1,24,8.50,0,7.0,3,1,2,0,2021-01-01
2,8638034,JS Nm,2486896.0,NZ:Left-hand bat:Right-arm medium-fast:,0.0,0.0,1,23,2,24,5.75,0,12.0,1,1,0,0,2021-01-01
3,8638034,LV vn Bk,3083667.0,NED:Right-hand bat:Right-arm medium-fast:,0.0,0.0,1,31,1,24,7.75,0,9.0,4,0,2,0,2021-01-01
4,8638034,PF Yd,4950294.0,NZ:Right-hand bat:Legbreak googly:,0.0,0.0,1,21,1,24,5.25,0,8.0,0,0,1,0,2021-01-01

In [123]:
bowler_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 18539 entries, 0 to 18538
Data columns (total 18 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   match id           18539 non-null  int64
 1   bowler             18539 non-null  object
 2   bowler_id          18539 non-null  float64
 3   bowler_details     18539 non-null  object
 4   is_bowler_captain  18539 non-null  float64
 5   is_bowler_keeper   18539 non-null  float64
 6   inning             18539 non-null  int64
 7   runs               18539 non-null  int64
 8   wicket_count       18539 non-null  int64
 9   balls_bowled       18539 non-null  int64
 10  economy            18539 non-null  float64
 11  maiden             18539 non-null  int64
 12  dots               18539 non-null  float64
 13  Fours              18539 non-null  int64
 14  Sixes              18539 non-null  int64
 15  wides              18539 non-null  int64
 16  noballs            18539 non-null  int64
 17  match_dt           18539 non-null  object
dtypes: float64(5), int64(10), object(3)
memory usage: 2.5+ MB

In [124]:
train_data.head()

,match id,team1,team1_id,team1_roster_ids,team2,team2_id,team2_roster_ids,winner,winner_id,toss winner,toss decision,venue,city,match_dt,lighting,series_name,season,ground_id,team_count_50runs_last15,team_winp_last5,team1only_avg_runs_last15,team1_winp_team2_last15,ground_avg_runs_last15
0,9331181,Ba,11283,9373356.0:7857520.0:4232164.0:4566540.0:329940...,Hl Ph,12634,3500958.0:4231751.0:2735081.0:2035102.0:369833...,Hl Ph,12634,Hl Ph,field,Hr Ct Sm Ie,Indore,2022-10-20,day/night match,Sd Mq Ai Ty,2022/23,7398,1.666667,0.672131,139.000000,100.0,157.178571
1,8797060,Ed,20,2089079.0:6139370.0:2076192.0:62432.0:2083409....,Wt Is,41,4690258.0:4069666.0:4230127.0:1942317.0:161392...,Ed,20,Wt Is,field,Kn Ol Bn Bs,Bridgetown,2022-01-23,day/night match,Ed tr of Wt Is,2021/22,1406,1.285714,1.952381,156.000000,50.0,103.500000
2,9433269,We,10576,3298427.0:2288789.0:7773338.0:3519011.0:368195...,Ne,8987,4003390.0:1749075.0:1626526.0:4172447.0:551672...,We,10576,Ne,field,Tt Be Nm,Nottingham,2023-06-02,day/night match,Vy Bt,2023,251,0.857143,0.672131,173.266667,0.0,154.333333
3,9587073,Ga An Ws,36084,8127230.0:4690328.0:4069666.0:7960847.0:469018...,Bs Rs,36070,3462080.0:2436405.0:1798705.0:7550857.0:574247...,Ga An Ws,36084,Ga An Ws,bat,Bn La Sm Ta Td,Tarouba,2023-09-10,day match,Cn Pr Le,2023,14300,2.166667,1.975610,164.266667,50.0,144.250000
4,9516457,Pb Ks,30407,8127181.0:197658.0:4239038.0:2398346.0:5053082...,Gt Ts,48341,1958683.0:7491224.0:8059029.0:4377610.0:225245...,Gt Ts,48341,Gt Ts,field,Pb Ct An IS Ba Sm Mi Ch,Chandigarh,2023-04-13,night match,In Pr Le,2023,7118,0.818182,1.327869,164.666667,0.0,189.000000

In [125]:
def giveLastNgamesPlayer(player_id, date, n, bat_or_bowl):
    '''
    Function to get last n games stats of a player before an input date.
    
    Input-
    1. player_id: id of the player to get historical data.
    2. date: date to look-back and get n games. Stats returned are before this input date.
    3. n: Number of historical games stats to return.
    4. bat_or_bowl: Kind of stats to return. {'bat': batting stats to return, 'bowl': bowling stats to return}
    
    Output-None
    
    Returns- dataframe having bowling/batting stats from last n games of a player before an input date. 
    The results are sorted by date.
    '''
    if bat_or_bowl == 'bat':
        df_topick = batsman_data
        id_col = 'batsman_id'
    else:
        df_topick = bowler_data
        id_col = 'bowler_id'
        
    return df_topick[(df_topick['match_dt']<date)&(df_topick[id_col]==float(player_id))]\
                .sort_values(by='match_dt', ascending=False).head(n)

In [126]:
def fetch_bat_perf(player_ids , date , n):
    '''
    This function is intended to calculate the overall batting performance of the team

    Input-
    1. player_ids = a list of player ids in int/float format
    2. date = date upto which data is required in str format
    3. n = int value specifying how much of the last games
    '''

    team_contri = [] #for storing the contribution to the average total of the team
    bat_avg = [] #for storing average runs of each of the players
    strike_rt = [] #for storing average strike rate of each of the players

    #filling the lists with corresponding features
    for i in range(len(player_ids)):
        bat_avg.append(giveLastNgamesPlayer(player_ids[i], date, n, "bat")["runs"].sum()/n)
        strike_rt.append(giveLastNgamesPlayer(player_ids[i], date, n, "bat")["strike_rate"].sum()/n)

    #filling up the team contribution of each of the player
    total_runs = sum(bat_avg) #summing up the average scores of each of the players
    team_contri = [syna/total_runs for syna in bat_avg]

    min_contri , max_contri = (min(team_contri) , max(team_contri)) #max and min of team cintributions
    min_runs , max_runs = (min(bat_avg) , max(bat_avg)) #max and min of avg player runs
    min_sr , max_sr = (min(strike_rt) , max(strike_rt)) #max and min of strike rates

    # print(team_contri)
    # print(bat_avg)
    # print(strike_rt)

    #normalising each of the parameters
    # team_contri = [((syna - min_contri)/(max_contri-min_contri)) for syna in team_contri]
    bat_avg = [((syna - min_runs)/(max_runs - min_runs)) for syna in bat_avg]
    strike_rt = [((syna - min_sr)/(max_sr - min_sr)) for syna in strike_rt]

    # print(team_contri)
    # print(bat_avg)
    # print(strike_rt)

    #calculating the variance of each of the parameters
    var_contri = np.var(team_contri) #variance of team contributions
    var_runs = np.var(bat_avg) #variance of average runs of each of the players
    var_sr = np.var(strike_rt) #variance of strike rate

    c = 1/((1/((var_contri)**0.5)) + (1/((var_runs)**0.5)) + (1/((var_sr)**0.5))) #this is the normalising factor that will be used to calculate weights later

    #calculation of weights
    w_contri = c/((var_contri)**0.5) #weight for team contribution
    w_runs = c/((var_runs)**0.5) #weight for average runs of each of the players
    w_sr = c/((var_sr)**0.5) #weight for strike rate of players

    # print(w_contri)
    # print(w_runs)
    # print(w_sr)

    bat_perf = [] #for storing overall batting performance of each of the players

    #calculating the overall batting performance of each of the players by multiplying weights to each of the parameters
    for i in range(len(player_ids)):
        bat_perf.append((w_contri*team_contri[i]) + (w_runs*bat_avg[i]) + (w_sr*strike_rt[i]))

    # print(bat_perf)
    # print(sum(bat_perf)/len(bat_perf))
    
    return sum(bat_perf)/len(bat_perf)

In [127]:
row = train_data.iloc[0]
player_ids = row["team1_roster_ids"].split(':')
player_ids = list(map(float , player_ids))

print(fetch_bat_perf(player_ids , row["match_dt"] , 5))

player2 = row["team2_roster_ids"].split(':')
player2 = list(map(float , player2))

print(fetch_bat_perf(player2 , row["match_dt"] , 5))

0.14606638462121393
0.1088867948037288

In [128]:
def fetch_bowl_perf(player_ids , date , n):
    '''
    This function is intended to calculate the overall bowling performance of the team

    Input-
    1. player_ids = a list of player ids in int/float format
    2. date = date upto which data is required in str format
    3. n = int value specifying how much of the last games
    '''

    eco_rt = [] #for storing the average economy of each of the players
    bowl_avg = [] #for storing average bowling average of each of the players
    strike_rt = [] #for storing average strike rate of each of the players

    #filling the lists with corresponding features
    for i in range(len(player_ids)):
        wkts = giveLastNgamesPlayer(player_ids[i], date, n, "bowl")["wicket_count"].sum()/n
        runs = giveLastNgamesPlayer(player_ids[i], date, n, "bowl")["runs"].sum()/n
        economy = giveLastNgamesPlayer(player_ids[i], date, n, "bowl")["economy"].sum()/n
        balls = giveLastNgamesPlayer(player_ids[i], date, n, "bowl")["balls_bowled"].sum()/n

        eco_rt.append(economy)

        if wkts == 0:
            bowl_avg.append(0)
            strike_rt.append(0)
        else:
            bowl_avg.append(runs/wkts)
            strike_rt.append(balls/wkts)

    
    min_eco , max_eco = (min(eco_rt) , max(eco_rt)) #max and min of economy rates
    min_avg , max_avg = (min(bowl_avg) , max(bowl_avg)) #max and min of player bowling averages
    min_sr , max_sr = (min(strike_rt) , max(strike_rt)) #max and min of strike rates

    # print(eco_rt)
    # print(bowl_avg)
    # print(strike_rt)

    #normalising each of the parameters
    for i in range(len(player_ids)):
        if eco_rt[i] == 0:
            continue
        else:
            eco_rt[i] = ((max_eco - eco_rt[i])/(max_eco-min_eco))
    
    for i in range(len(player_ids)):
        if bowl_avg[i] == 0:
            if strike_rt[i] == 0:
                continue
            else:
                strike_rt[i] = (max_sr - strike_rt[i])/(max_sr - min_sr)
        else:
            if strike_rt[i] == 0:
                bowl_avg[i] = (max_avg - bowl_avg[i])/(max_avg - min_avg)
            else:
                bowl_avg[i] = (max_avg - bowl_avg[i])/(max_avg - min_avg)
                strike_rt[i] = (max_sr - strike_rt[i])/(max_sr - min_sr)
                    
    # bowl_avg = [((max_avg - syna)/(max_avg - min_avg)) if syna != np.nan else np.nan for syna in bowl_avg]
    # strike_rt = [((max_sr - syna)/(max_sr - min_sr)) if syna != np.nan else np.nan for syna in strike_rt]

    # print(eco_rt)
    # print(bowl_avg)
    # print(strike_rt)

    #calculating the variance of each of the parameters
    var_eco = np.nanvar(eco_rt) #variance of economy rates
    var_avg = np.nanvar(bowl_avg) #variance of bowling average of each of the players
    var_sr = np.nanvar(strike_rt) #variance of strike rate

    # print(var_eco , " " , var_avg , " " , var_sr)

    c = 1/((1/((var_eco)**0.5)) + (1/((var_avg)**0.5)) + (1/((var_sr)**0.5))) #this is the normalising factor that will be used to calculate weights later

    #calculation of weights
    w_eco = c/((var_eco)**0.5) #weight for economy rates
    w_avg = c/((var_avg)**0.5) #weight for bowling average of each of the players
    w_sr = c/((var_sr)**0.5) #weight for strike rate of players

    # print(w_eco)
    # print(w_avg)
    # print(w_sr)

    bowl_perf = [] #for storing the overall bowling performance of each of the players

    #caluculating the overall bowling performance of each of the players by multiplying weights to each of the parameters
    for i in range(len(player_ids)):
        bowl_perf.append((w_eco*eco_rt[i]) + (w_avg*bowl_avg[i]) + (w_sr*strike_rt[i]))

    # print(bowl_perf)
    # print(sum(bowl_perf)/len(bowl_perf))
    
    return sum(bowl_perf)/len(bowl_perf)

In [129]:
fetch_bowl_perf(player2 , row["match_dt"] , 5)

0.023161012533850407

In [130]:
def fetch_team_eff(player_ids , date , n):
    '''
    This function is intended to calculate the effective size of the team

    Input-
    1. player_ids = a list of player ids in int/float format
    2. date = date upto which data is required in str format
    3. n = int value specifying how much of the last games
    '''
    
    runs = [] #storing runs of each player
    wickets = [] #storing wkts of each player

    #filling the data into the parameters
    for i in range(len(player_ids)):
        runs.append(giveLastNgamesPlayer(player_ids[i], row["match_dt"], n, "bat")["runs"].sum()/n)
        wickets.append(giveLastNgamesPlayer(player_ids[i], row["match_dt"], n, "bowl")["wicket_count"].sum()/n)
    
    # print(runs)
    # print(wickets)

    #total runs and wickets of the team
    runs_total = sum(runs)
    wkt_total = sum(wickets)

    # print(runs_total , '\n' , wkt_total)

    #team relative bat and ball performance for each player
    runs = [syna/runs_total for syna in runs]
    wickets = [syna/wkt_total for syna in wickets]

    # print(runs)
    # print(wickets)

    #calculating performance of each of the players
    team_perf = [sum(i)*0.5 for i in zip(runs , wickets)]

    # print(team_perf)

    H_scores = [syna*(np.log2(syna)) for syna in team_perf] #H score for each of the players

    # print(H_scores)

    H_score = -1 * np.nansum(H_scores) #overall H score of the team

    # print(H_score)

    ply_eff = 2**H_score #the effective no. of players in the team

    # print(ply_eff)
    return runs_total , wkt_total , ply_eff

In [131]:
fetch_team_eff(player2 , row["match_dt"] , 5)

(27.400000000000002, 2.2, 2.742955391249579)

In [132]:
match_data["match_winners"] = np.where(match_data["winner"] == match_data["team1"] , 0 , 1)
match_data.head()

,match id,team1,team2,winner,by,win amount,toss winner,toss decision,venue,city,match_dt,lighting,series_name,season,ground_id,umpire1,umpire2,inning1_runs,inning1_wickets,inning1_balls,inning2_runs,inning2_wickets,inning2_balls,team1_id,team1_roster_ids,team2_id,team2_roster_ids,series_type,winner_id,player_of_the_match_id,match_winners
0,8638034,Nn Ds,Wn,Wn,wickets,9.0,Wn,field,By Ol,Mount Maunganui,2021-01-01,night match,Sr Sh,2020/21,17681,Dn Mw,TJ Pe,148,6,130,152.0,1.0,97.0,17982,7907451.0:4381761.0:31464.0:258649.0:4949790.0...,18570,2653993.0:6718326.0:6718382.0:2486896.0:228878...,other_domestic,18570,NaN,1
1,8588005,Me Rs,Sy Tr,Sy Tr,runs,7.0,Sy Tr,field,Ca Ol,Carrara,2021-01-01,night match,Bg Bh Le,2020/21,6663,D Tr,PJ Ge,166,6,106,117.0,2.0,74.0,33942,37351.0:46794.0:5406540.0:2231928.0:181404.0:1...,33963,1506098.0:1749075.0:36665.0:2083409.0:7534652....,other_domestic,33963,1749075.0,1
2,8587837,Sy Ss,Be Ht,Be Ht,wickets,4.0,Sy Ss,bat,Be Ct Gd,Brisbane,2021-01-02,night match,Bg Bh Le,2020/21,1476,GJ Dn,PJ Ge,165,8,126,171.0,6.0,119.0,33956,7869987.0:7620283.0:2076192.0:4002340.0:306369...,33921,7620269.0:2286437.0:87191.0:5786766.0:3114803....,other_domestic,33921,3890984.0,1
3,8638041,Nn Ds,Oo,Oo,wickets,2.0,Oo,field,By Ol,Mount Maunganui,2021-01-02,night match,Sr Sh,2020/21,17681,GA St,TJ Pe,153,7,128,156.0,8.0,126.0,17982,7907451.0:4381761.0:31464.0:4949790.0:258649.0...,18360,2319638.0:256080.0:7918280.0:3913447.0:2690498...,other_domestic,18360,NaN,1
4,8587921,Ht Hs,Me Ss,Ht Hs,runs,21.0,Me Ss,field,Be Ol,Hobart,2021-01-02,day/night match,Bg Bh Le,2020/21,6348,GA Ad,NR Je,164,5,126,143.0,9.0,123.0,33928,4223883.0:2161599.0:1655436.0:5788418.0:319948...,33949,363047.0:2275097.0:3901078.0:2275195.0:4230127...,other_domestic,33928,3125849.0,0

In [133]:
def giveLastNgamesTeams(team_name, date, n , team):
    '''
    Function to get last n games stats of a team before an input date.
    
    Input-
    1. team_name: name of the team to get historical data.
    2. date: date to look-back and get n games. Stats returned are before this input date.
    3. n: Number of historical games stats to return.
    4. team: data queried for either team1 or team2 of type int
    '''
    if team == 1 :
        id_col = "team1"
    else:
        id_col = "team2"
        
    result = match_data[(match_data['match_dt']<date)&(match_data[id_col]==(team_name))]\
                .sort_values(by='match_dt', ascending=False).head(n)

    return result["match_winners"].to_list()

In [134]:
giveLastNgamesTeams(row["team1"], row["match_dt"], 5 , 1)

[1, 1, 0, 1, 1]

In [135]:
train_data["match_winners"] = np.where(train_data["winner_id"] == train_data["team1_id"] , 0 , 1)
train_data.head(2)

,match id,team1,team1_id,team1_roster_ids,team2,team2_id,team2_roster_ids,winner,winner_id,toss winner,toss decision,venue,city,match_dt,lighting,series_name,season,ground_id,team_count_50runs_last15,team_winp_last5,team1only_avg_runs_last15,team1_winp_team2_last15,ground_avg_runs_last15,match_winners
0,9331181,Ba,11283,9373356.0:7857520.0:4232164.0:4566540.0:329940...,Hl Ph,12634,3500958.0:4231751.0:2735081.0:2035102.0:369833...,Hl Ph,12634,Hl Ph,field,Hr Ct Sm Ie,Indore,2022-10-20,day/night match,Sd Mq Ai Ty,2022/23,7398,1.666667,0.672131,139.0,100.0,157.178571,1
1,8797060,Ed,20,2089079.0:6139370.0:2076192.0:62432.0:2083409....,Wt Is,41,4690258.0:4069666.0:4230127.0:1942317.0:161392...,Ed,20,Wt Is,field,Kn Ol Bn Bs,Bridgetown,2022-01-23,day/night match,Ed tr of Wt Is,2021/22,1406,1.285714,1.952381,156.0,50.0,103.500000,0

In [136]:
def fetch_stats(row , n):
    '''
    This function would return all the values that have been calculated so far

    Inputs-
    1. row- the row of the train dataset for which we wish to find the stats, type df
    2. n = how many of the previous games of type int
    3. team = team no. 1 or 2, type int
    '''
    #preaparing a list of team ids
    team1 = row["team1_roster_ids"].split(":")
    team2 = row["team2_roster_ids"].split(":")

    team1 = list(map(float , team1))
    team2 = list(map(float , team2))

    # print(team1)
    # print(team2)

    t1_bat_perf = fetch_bat_perf(team1 , row["match_dt"] , n) #batting performance of team 1
    t2_bat_perf = fetch_bat_perf(team2 , row["match_dt"] , n) #batting performance of team 2

    t1_bowl_perf = fetch_bowl_perf(team1 , row["match_dt"] , n) #bowling performnace of team 1
    t2_bowl_perf = fetch_bowl_perf(team2 , row["match_dt"] , n) #bowling performance of team 2

    # print()
    # print(t1_bat_perf , " " , t1_bowl_perf)
    # print(t2_bat_perf , " " , t2_bowl_perf)
    # print()

    #normalising the performance scores
    max_t1 = max(t1_bat_perf , t1_bowl_perf) #maximum of the 2 scores of team 1
    max_t2 = max(t2_bat_perf , t2_bowl_perf) #maximum of the 2 scores of team 2

    # print(max_t1 , " " , max_t2)
    # print()

    # if max_t1 != 0:
    #     t1_bat_perf , t1_bowl_perf = (t1_bat_perf/max_t1 , t1_bowl_perf/max_t1)
    # else:
    #     t1_bat_perf , t1_bowl_perf = (0 , 0)

    # if max_t2 != 0:
    #     t2_bat_perf , t2_bowl_perf = (t2_bat_perf/max_t2 , t2_bowl_perf/max_t2)
    # else:
    #     t2_bat_perf , t2_bowl_perf = (0 , 0)

    t1_bat_perf , t1_bowl_perf = (t1_bat_perf/max_t1 , t1_bowl_perf/max_t1)
    t2_bat_perf , t2_bowl_perf = (t2_bat_perf/max_t2 , t2_bowl_perf/max_t2)

    # print(t1_bat_perf , " " , t1_bowl_perf)
    # print(t2_bat_perf , " " , t2_bowl_perf)
    # print()
    
    #calculating the overall performance of the team over batting and bowling
    k_t1 = 0.5*(t1_bat_perf + t1_bowl_perf)
    k_t2 = 0.5*(t2_bat_perf + t2_bowl_perf)

    # print(k_t1 , " " , k_t2)
    # print()

    #we will now convert the overall performances to form factors using the following transformations
    k_t1 = 1 - k_t1
    k_t1 = 1 - k_t2

    # print(k_t1 , " " , k_t2)
    # print()

    wins_t1 = giveLastNgamesTeams(row["team1"] , row["match_dt"] , n , 1)
    wins_t2 = giveLastNgamesTeams(row["team2"] , row["match_dt"] , n , 2)

    # print(wins_t1)
    # print(wins_t2)
    # print()

    #for the next set of calculations to work, we need win = 1 for cases where a team won. Hence we need to flip the encoding for team 1
    for i in range(len(wins_t1)):
        if wins_t1[i] == 0:
            wins_t1[i] = 1
        else:
            wins_t1[i] = 0

    # print(wins_t1)
    # print(wins_t2)
    # print()

    #if the number of matches returned is less than 'n' , then we need to pad wins with 0 at the end
    wins_t1 = np.pad(wins_t1 , (0 , (n-len(wins_t1))) , 'constant' , constant_values = 0)
    wins_t2 = np.pad(wins_t2 , (0 , (n-len(wins_t2))) , 'constant' , constant_values = 0)

    # print(wins_t1)
    # print(wins_t2)
    # print()

    #from the performances, we will now calculate the form of the teams for each of the matches so far
    wins_t1 = [k_t1*syna for syna in wins_t1]
    wins_t2 = [k_t2*syna for syna in wins_t2]
    # for i in range(n):
    #     t1_form = ((k_t1**i)*wins_t1[i])/(k_t1**i)
    #     t2_form = ((k_t2**i)*wins_t2[i])/(k_t1**i)

    # print(wins_t1 , " " , wins_t2)
    # print()

    #caluculating total runs & wickets and the effective team size of both teams
    t1_total_runs , t1_total_wkts , t1_eff_ply = fetch_team_eff(team1 , row["match_dt"] , n)
    t2_total_runs , t2_total_wkts , t2_eff_ply = fetch_team_eff(team2 , row["match_dt"] , n)

    # print(t1_total_runs , " " , t1_total_wkts , " " , t1_eff_ply)
    # print(t2_total_runs , " " , t2_total_wkts , " " , t2_eff_ply)
    # print()

    return t1_total_runs , t1_total_wkts , t1_bat_perf , t1_bowl_perf , t1_eff_ply , np.sum(wins_t1) ,\
    t2_total_runs , t2_total_wkts , t2_bat_perf , t2_bowl_perf , t2_eff_ply , np.sum(wins_t2)

In [137]:
fetch_stats(row , 5)

(60.800000000000004,
 3.6,
 1.0,
 0.8750414804794184,
 5.552917382855255,
 0.3936463665056965,
 27.400000000000002,
 2.2,
 1.0,
 0.21270726698860698,
 2.742955391249579,
 1.212707266988607)

In [138]:
#initialising lists for new column names
last_5 = ["t1_total_runs5" , "t1_total_wkts5" , "t1_bat_per5" , "t1_bowl_perf5" , "t1_eff_ply5" , "t1_perf_5" , \
            "t2_total_runs5" , "t2_total_wkts5" , "t2_bat_per5" , "t2_bowl_perf5" , "t2_eff_ply5" , "t2_perf_5"]
last_10 = ["t1_total_runs10" , "t1_total_wkts10" , "t1_bat_per10" , "t1_bowl_perf10" , "t1_eff_ply10" , "t1_perf_10" , \
            "t2_total_runs10" , "t2_total_wkts10" , "t2_bat_per10" , "t2_bowl_perf10" , "t2_eff_ply10" , "t2_perf_10"]
last_15 = ["t1_total_runs15" , "t1_total_wkts15" , "t1_bat_per15" , "t1_bowl_perf15" , "t1_eff_ply15" , "t1_perf_15" , \
            "t2_total_runs15" , "t2_total_wkts15" , "t2_bat_per15" , "t2_bowl_perf15" , "t2_eff_ply15" , "t2_perf_15"]

In [139]:
train_df_5 = train_data.progress_apply(lambda x: fetch_stats(x , 5) , axis = 1) #applying funtion to compute for past 5 matches

100%|████████████████████████████████████████████████████████████████████████████████| 948/948 [04:05<00:00,  3.86it/s]

In [140]:
train_df_5 = pd.DataFrame(train_df_5.to_list())
train_df_5.columns = last_5
train_df_5.head()

,t1_total_runs5,t1_total_wkts5,t1_bat_per5,t1_bowl_perf5,t1_eff_ply5,t1_perf_5,t2_total_runs5,t2_total_wkts5,t2_bat_per5,t2_bowl_perf5,t2_eff_ply5,t2_perf_5
0,60.8,3.6,1.000000,0.875041,5.552917,0.393646,27.4,2.2,1.000000,0.212707,2.742955,1.212707
1,140.6,4.4,1.000000,0.842245,9.454016,0.437512,138.0,7.6,1.000000,0.708325,9.528553,0.854163
2,151.8,5.2,1.000000,0.808708,8.562802,0.383222,118.4,5.6,0.744519,1.000000,9.129609,1.744519
3,150.0,8.2,0.696507,1.000000,10.413767,0.788915,110.4,8.6,0.474057,1.000000,8.714146,1.474057
4,189.6,7.4,1.000000,0.563559,9.931708,0.518326,154.4,4.8,1.000000,0.740837,9.085245,3.481674

In [141]:
#assigning it back to the training dataframe
train_data[last_5] = train_df_5
train_data.head()

,match id,team1,team1_id,team1_roster_ids,team2,team2_id,team2_roster_ids,winner,winner_id,toss winner,toss decision,venue,city,match_dt,lighting,series_name,season,ground_id,team_count_50runs_last15,team_winp_last5,team1only_avg_runs_last15,team1_winp_team2_last15,ground_avg_runs_last15,match_winners,t1_total_runs5,t1_total_wkts5,t1_bat_per5,t1_bowl_perf5,t1_eff_ply5,t1_perf_5,t2_total_runs5,t2_total_wkts5,t2_bat_per5,t2_bowl_perf5,t2_eff_ply5,t2_perf_5
0,9331181,Ba,11283,9373356.0:7857520.0:4232164.0:4566540.0:329940...,Hl Ph,12634,3500958.0:4231751.0:2735081.0:2035102.0:369833...,Hl Ph,12634,Hl Ph,field,Hr Ct Sm Ie,Indore,2022-10-20,day/night match,Sd Mq Ai Ty,2022/23,7398,1.666667,0.672131,139.000000,100.0,157.178571,1,60.8,3.6,1.000000,0.875041,5.552917,0.393646,27.4,2.2,1.000000,0.212707,2.742955,1.212707
1,8797060,Ed,20,2089079.0:6139370.0:2076192.0:62432.0:2083409....,Wt Is,41,4690258.0:4069666.0:4230127.0:1942317.0:161392...,Ed,20,Wt Is,field,Kn Ol Bn Bs,Bridgetown,2022-01-23,day/night match,Ed tr of Wt Is,2021/22,1406,1.285714,1.952381,156.000000,50.0,103.500000,0,140.6,4.4,1.000000,0.842245,9.454016,0.437512,138.0,7.6,1.000000,0.708325,9.528553,0.854163
2,9433269,We,10576,3298427.0:2288789.0:7773338.0:3519011.0:368195...,Ne,8987,4003390.0:1749075.0:1626526.0:4172447.0:551672...,We,10576,Ne,field,Tt Be Nm,Nottingham,2023-06-02,day/night match,Vy Bt,2023,251,0.857143,0.672131,173.266667,0.0,154.333333,0,151.8,5.2,1.000000,0.808708,8.562802,0.383222,118.4,5.6,0.744519,1.000000,9.129609,1.744519
3,9587073,Ga An Ws,36084,8127230.0:4690328.0:4069666.0:7960847.0:469018...,Bs Rs,36070,3462080.0:2436405.0:1798705.0:7550857.0:574247...,Ga An Ws,36084,Ga An Ws,bat,Bn La Sm Ta Td,Tarouba,2023-09-10,day match,Cn Pr Le,2023,14300,2.166667,1.975610,164.266667,50.0,144.250000,0,150.0,8.2,0.696507,1.000000,10.413767,0.788915,110.4,8.6,0.474057,1.000000,8.714146,1.474057
4,9516457,Pb Ks,30407,8127181.0:197658.0:4239038.0:2398346.0:5053082...,Gt Ts,48341,1958683.0:7491224.0:8059029.0:4377610.0:225245...,Gt Ts,48341,Gt Ts,field,Pb Ct An IS Ba Sm Mi Ch,Chandigarh,2023-04-13,night match,In Pr Le,2023,7118,0.818182,1.327869,164.666667,0.0,189.000000,1,189.6,7.4,1.000000,0.563559,9.931708,0.518326,154.4,4.8,1.000000,0.740837,9.085245,3.481674

In [142]:
#repeating the same process for past 10 matches
train_df_10 = train_data.progress_apply(lambda x: fetch_stats(x , 10) , axis = 1)
train_df_10 = pd.DataFrame(train_df_10.to_list())
train_df_10.columns = last_10
train_df_10.head()

100%|████████████████████████████████████████████████████████████████████████████████| 948/948 [04:00<00:00,  3.95it/s]

,t1_total_runs10,t1_total_wkts10,t1_bat_per10,t1_bowl_perf10,t1_eff_ply10,t1_perf_10,t2_total_runs10,t2_total_wkts10,t2_bat_per10,t2_bowl_perf10,t2_eff_ply10,t2_perf_10
0,52.5,3.7,0.925254,1.000000,5.466185,1.968920,44.0,2.2,1.000000,0.015540,2.782273,1.015540
1,164.3,6.1,1.000000,0.487849,10.120646,0.117039,138.2,6.9,1.000000,0.921974,10.393670,1.921974
2,167.2,4.9,1.000000,0.561458,8.441537,0.299834,119.4,5.2,0.880067,1.000000,8.756126,3.760133
3,133.4,6.2,1.000000,0.835921,9.894604,1.314183,141.8,8.4,0.561939,1.000000,8.883873,4.685817
4,176.6,7.2,1.000000,0.475953,10.460444,0.943745,156.6,6.0,1.000000,0.622502,9.305320,4.056255

In [143]:
train_data[last_10] = train_df_10
train_data.head()

,match id,team1,team1_id,team1_roster_ids,team2,team2_id,team2_roster_ids,winner,winner_id,toss winner,toss decision,venue,city,match_dt,lighting,series_name,season,ground_id,team_count_50runs_last15,team_winp_last5,team1only_avg_runs_last15,team1_winp_team2_last15,ground_avg_runs_last15,match_winners,t1_total_runs5,t1_total_wkts5,t1_bat_per5,t1_bowl_perf5,t1_eff_ply5,t1_perf_5,t2_total_runs5,t2_total_wkts5,t2_bat_per5,t2_bowl_perf5,t2_eff_ply5,t2_perf_5,t1_total_runs10,t1_total_wkts10,t1_bat_per10,t1_bowl_perf10,t1_eff_ply10,t1_perf_10,t2_total_runs10,t2_total_wkts10,t2_bat_per10,t2_bowl_perf10,t2_eff_ply10,t2_perf_10
0,9331181,Ba,11283,9373356.0:7857520.0:4232164.0:4566540.0:329940...,Hl Ph,12634,3500958.0:4231751.0:2735081.0:2035102.0:369833...,Hl Ph,12634,Hl Ph,field,Hr Ct Sm Ie,Indore,2022-10-20,day/night match,Sd Mq Ai Ty,2022/23,7398,1.666667,0.672131,139.000000,100.0,157.178571,1,60.8,3.6,1.000000,0.875041,5.552917,0.393646,27.4,2.2,1.000000,0.212707,2.742955,1.212707,52.5,3.7,0.925254,1.000000,5.466185,1.968920,44.0,2.2,1.000000,0.015540,2.782273,1.015540
1,8797060,Ed,20,2089079.0:6139370.0:2076192.0:62432.0:2083409....,Wt Is,41,4690258.0:4069666.0:4230127.0:1942317.0:161392...,Ed,20,Wt Is,field,Kn Ol Bn Bs,Bridgetown,2022-01-23,day/night match,Ed tr of Wt Is,2021/22,1406,1.285714,1.952381,156.000000,50.0,103.500000,0,140.6,4.4,1.000000,0.842245,9.454016,0.437512,138.0,7.6,1.000000,0.708325,9.528553,0.854163,164.3,6.1,1.000000,0.487849,10.120646,0.117039,138.2,6.9,1.000000,0.921974,10.393670,1.921974
2,9433269,We,10576,3298427.0:2288789.0:7773338.0:3519011.0:368195...,Ne,8987,4003390.0:1749075.0:1626526.0:4172447.0:551672...,We,10576,Ne,field,Tt Be Nm,Nottingham,2023-06-02,day/night match,Vy Bt,2023,251,0.857143,0.672131,173.266667,0.0,154.333333,0,151.8,5.2,1.000000,0.808708,8.562802,0.383222,118.4,5.6,0.744519,1.000000,9.129609,1.744519,167.2,4.9,1.000000,0.561458,8.441537,0.299834,119.4,5.2,0.880067,1.000000,8.756126,3.760133
3,9587073,Ga An Ws,36084,8127230.0:4690328.0:4069666.0:7960847.0:469018...,Bs Rs,36070,3462080.0:2436405.0:1798705.0:7550857.0:574247...,Ga An Ws,36084,Ga An Ws,bat,Bn La Sm Ta Td,Tarouba,2023-09-10,day match,Cn Pr Le,2023,14300,2.166667,1.975610,164.266667,50.0,144.250000,0,150.0,8.2,0.696507,1.000000,10.413767,0.788915,110.4,8.6,0.474057,1.000000,8.714146,1.474057,133.4,6.2,1.000000,0.835921,9.894604,1.314183,141.8,8.4,0.561939,1.000000,8.883873,4.685817
4,9516457,Pb Ks,30407,8127181.0:197658.0:4239038.0:2398346.0:5053082...,Gt Ts,48341,1958683.0:7491224.0:8059029.0:4377610.0:225245...,Gt Ts,48341,Gt Ts,field,Pb Ct An IS Ba Sm Mi Ch,Chandigarh,2023-04-13,night match,In Pr Le,2023,7118,0.818182,1.327869,164.666667,0.0,189.000000,1,189.6,7.4,1.000000,0.563559,9.931708,0.518326,154.4,4.8,1.000000,0.740837,9.085245,3.481674,176.6,7.2,1.000000,0.475953,10.460444,0.943745,156.6,6.0,1.000000,0.622502,9.305320,4.056255

In [144]:
#repeating the same for past 15 matches
train_df_15 = train_data.progress_apply(lambda x: fetch_stats(x , 15) , axis = 1)
train_df_15 = pd.DataFrame(train_df_15.to_list())
train_df_15.columns = last_15
train_df_15.head()

100%|████████████████████████████████████████████████████████████████████████████████| 948/948 [03:55<00:00,  4.02it/s]

,t1_total_runs15,t1_total_wkts15,t1_bat_per15,t1_bowl_perf15,t1_eff_ply15,t1_perf_15,t2_total_runs15,t2_total_wkts15,t2_bat_per15,t2_bowl_perf15,t2_eff_ply15,t2_perf_15
0,46.466667,4.200000,0.765869,1.000000,5.239478,2.319222,32.266667,2.533333,1.000000,0.072311,2.781829,1.072311
1,177.333333,6.266667,1.000000,0.473901,10.184626,0.082128,143.866667,6.800000,0.945248,1.000000,10.373848,4.863121
2,151.400000,5.133333,1.000000,0.587431,8.359240,0.383271,114.066667,4.933333,0.846691,1.000000,8.518012,6.463420
3,124.333333,5.533333,1.000000,0.943060,9.356508,1.553987,130.733333,7.800000,0.556004,1.000000,8.764738,4.668011
4,168.400000,6.866667,1.000000,0.369600,10.485322,0.752668,146.133333,5.666667,1.000000,0.784952,9.171197,4.462380

In [145]:
train_data[last_15] = train_df_15
train_data.head()

,match id,team1,team1_id,team1_roster_ids,team2,team2_id,team2_roster_ids,winner,winner_id,toss winner,toss decision,venue,city,match_dt,lighting,series_name,season,ground_id,team_count_50runs_last15,team_winp_last5,team1only_avg_runs_last15,team1_winp_team2_last15,ground_avg_runs_last15,match_winners,t1_total_runs5,t1_total_wkts5,t1_bat_per5,t1_bowl_perf5,t1_eff_ply5,t1_perf_5,t2_total_runs5,t2_total_wkts5,t2_bat_per5,t2_bowl_perf5,t2_eff_ply5,t2_perf_5,t1_total_runs10,t1_total_wkts10,t1_bat_per10,t1_bowl_perf10,t1_eff_ply10,t1_perf_10,t2_total_runs10,t2_total_wkts10,t2_bat_per10,t2_bowl_perf10,t2_eff_ply10,t2_perf_10,t1_total_runs15,t1_total_wkts15,t1_bat_per15,t1_bowl_perf15,t1_eff_ply15,t1_perf_15,t2_total_runs15,t2_total_wkts15,t2_bat_per15,t2_bowl_perf15,t2_eff_ply15,t2_perf_15
0,9331181,Ba,11283,9373356.0:7857520.0:4232164.0:4566540.0:329940...,Hl Ph,12634,3500958.0:4231751.0:2735081.0:2035102.0:369833...,Hl Ph,12634,Hl Ph,field,Hr Ct Sm Ie,Indore,2022-10-20,day/night match,Sd Mq Ai Ty,2022/23,7398,1.666667,0.672131,139.000000,100.0,157.178571,1,60.8,3.6,1.000000,0.875041,5.552917,0.393646,27.4,2.2,1.000000,0.212707,2.742955,1.212707,52.5,3.7,0.925254,1.000000,5.466185,1.968920,44.0,2.2,1.000000,0.015540,2.782273,1.015540,46.466667,4.200000,0.765869,1.000000,5.239478,2.319222,32.266667,2.533333,1.000000,0.072311,2.781829,1.072311
1,8797060,Ed,20,2089079.0:6139370.0:2076192.0:62432.0:2083409....,Wt Is,41,4690258.0:4069666.0:4230127.0:1942317.0:161392...,Ed,20,Wt Is,field,Kn Ol Bn Bs,Bridgetown,2022-01-23,day/night match,Ed tr of Wt Is,2021/22,1406,1.285714,1.952381,156.000000,50.0,103.500000,0,140.6,4.4,1.000000,0.842245,9.454016,0.437512,138.0,7.6,1.000000,0.708325,9.528553,0.854163,164.3,6.1,1.000000,0.487849,10.120646,0.117039,138.2,6.9,1.000000,0.921974,10.393670,1.921974,177.333333,6.266667,1.000000,0.473901,10.184626,0.082128,143.866667,6.800000,0.945248,1.000000,10.373848,4.863121
2,9433269,We,10576,3298427.0:2288789.0:7773338.0:3519011.0:368195...,Ne,8987,4003390.0:1749075.0:1626526.0:4172447.0:551672...,We,10576,Ne,field,Tt Be Nm,Nottingham,2023-06-02,day/night match,Vy Bt,2023,251,0.857143,0.672131,173.266667,0.0,154.333333,0,151.8,5.2,1.000000,0.808708,8.562802,0.383222,118.4,5.6,0.744519,1.000000,9.129609,1.744519,167.2,4.9,1.000000,0.561458,8.441537,0.299834,119.4,5.2,0.880067,1.000000,8.756126,3.760133,151.400000,5.133333,1.000000,0.587431,8.359240,0.383271,114.066667,4.933333,0.846691,1.000000,8.518012,6.463420
3,9587073,Ga An Ws,36084,8127230.0:4690328.0:4069666.0:7960847.0:469018...,Bs Rs,36070,3462080.0:2436405.0:1798705.0:7550857.0:574247...,Ga An Ws,36084,Ga An Ws,bat,Bn La Sm Ta Td,Tarouba,2023-09-10,day match,Cn Pr Le,2023,14300,2.166667,1.975610,164.266667,50.0,144.250000,0,150.0,8.2,0.696507,1.000000,10.413767,0.788915,110.4,8.6,0.474057,1.000000,8.714146,1.474057,133.4,6.2,1.000000,0.835921,9.894604,1.314183,141.8,8.4,0.561939,1.000000,8.883873,4.685817,124.333333,5.533333,1.000000,0.943060,9.356508,1.553987,130.733333,7.800000,0.556004,1.000000,8.764738,4.668011
4,9516457,Pb Ks,30407,8127181.0:197658.0:4239038.0:2398346.0:5053082...,Gt Ts,48341,1958683.0:7491224.0:8059029.0:4377610.0:225245...,Gt Ts,48341,Gt Ts,field,Pb Ct An IS Ba Sm Mi Ch,Chandigarh,2023-04-13,night match,In Pr Le,2023,7118,0.818182,1.327869,164.666667,0.0,189.000000,1,189.6,7.4,1.000000,0.563559,9.931708,0.518326,154.4,4.8,1.000000,0.740837,9.085245,3.481674,176.6,7.2,1.000000,0.475953,10.460444,0.943745,156.6,6.0,1.000000,0.622502,9.305320,4.056255,168.400000,6.866667,1.000000,0.369600,10.485322,0.752668,146.133333,5.666667,1.000000,0.784952,9.171197,4.462380

In [146]:
train_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 948 entries, 0 to 947
Data columns (total 60 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   match id                   948 non-null    int64
 1   team1                      948 non-null    object
 2   team1_id                   948 non-null    int64
 3   team1_roster_ids           948 non-null    object
 4   team2                      948 non-null    object
 5   team2_id                   948 non-null    int64
 6   team2_roster_ids           948 non-null    object
 7   winner                     948 non-null    object
 8   winner_id                  948 non-null    int64
 9   toss winner                948 non-null    object
 10  toss decision              948 non-null    object
 11  venue                      948 non-null    object
 12  city                       948 non-null    object
 13  match_dt                   948 non-null    object
 14  lighting                   948 non-null    object
 15  series_name                948 non-null    object
 16  season                     948 non-null    object
 17  ground_id                  948 non-null    int64
 18  team_count_50runs_last15   948 non-null    float64
 19  team_winp_last5            948 non-null    float64
 20  team1only_avg_runs_last15  927 non-null    float64
 21  team1_winp_team2_last15    948 non-null    float64
 22  ground_avg_runs_last15     895 non-null    float64
 23  match_winners              948 non-null    int32
 24  t1_total_runs5             948 non-null    float64
 25  t1_total_wkts5             948 non-null    float64
 26  t1_bat_per5                936 non-null    float64
 27  t1_bowl_perf5              923 non-null    float64
 28  t1_eff_ply5                948 non-null    float64
 29  t1_perf_5                  925 non-null    float64
 30  t2_total_runs5             948 non-null    float64
 31  t2_total_wkts5             948 non-null    float64
 32  t2_bat_per5                938 non-null    float64
 33  t2_bowl_perf5              925 non-null    float64
 34  t2_eff_ply5                948 non-null    float64
 35  t2_perf_5                  925 non-null    float64
 36  t1_total_runs10            948 non-null    float64
 37  t1_total_wkts10            948 non-null    float64
 38  t1_bat_per10               936 non-null    float64
 39  t1_bowl_perf10             924 non-null    float64
 40  t1_eff_ply10               948 non-null    float64
 41  t1_perf_10                 927 non-null    float64
 42  t2_total_runs10            948 non-null    float64
 43  t2_total_wkts10            948 non-null    float64
 44  t2_bat_per10               938 non-null    float64
 45  t2_bowl_perf10             927 non-null    float64
 46  t2_eff_ply10               948 non-null    float64
 47  t2_perf_10                 927 non-null    float64
 48  t1_total_runs15            948 non-null    float64
 49  t1_total_wkts15            948 non-null    float64
 50  t1_bat_per15               936 non-null    float64
 51  t1_bowl_perf15             924 non-null    float64
 52  t1_eff_ply15               948 non-null    float64
 53  t1_perf_15                 927 non-null    float64
 54  t2_total_runs15            948 non-null    float64
 55  t2_total_wkts15            948 non-null    float64
 56  t2_bat_per15               938 non-null    float64
 57  t2_bowl_perf15             927 non-null    float64
 58  t2_eff_ply15               948 non-null    float64
 59  t2_perf_15                 927 non-null    float64
dtypes: float64(41), int32(1), int64(5), object(13)
memory usage: 440.8+ KB

In [147]:
#applying imputation to NaN values
train_data = train_data.fillna(0)
train_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 948 entries, 0 to 947
Data columns (total 60 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   match id                   948 non-null    int64
 1   team1                      948 non-null    object
 2   team1_id                   948 non-null    int64
 3   team1_roster_ids           948 non-null    object
 4   team2                      948 non-null    object
 5   team2_id                   948 non-null    int64
 6   team2_roster_ids           948 non-null    object
 7   winner                     948 non-null    object
 8   winner_id                  948 non-null    int64
 9   toss winner                948 non-null    object
 10  toss decision              948 non-null    object
 11  venue                      948 non-null    object
 12  city                       948 non-null    object
 13  match_dt                   948 non-null    object
 14  lighting                   948 non-null    object
 15  series_name                948 non-null    object
 16  season                     948 non-null    object
 17  ground_id                  948 non-null    int64
 18  team_count_50runs_last15   948 non-null    float64
 19  team_winp_last5            948 non-null    float64
 20  team1only_avg_runs_last15  948 non-null    float64
 21  team1_winp_team2_last15    948 non-null    float64
 22  ground_avg_runs_last15     948 non-null    float64
 23  match_winners              948 non-null    int32
 24  t1_total_runs5             948 non-null    float64
 25  t1_total_wkts5             948 non-null    float64
 26  t1_bat_per5                948 non-null    float64
 27  t1_bowl_perf5              948 non-null    float64
 28  t1_eff_ply5                948 non-null    float64
 29  t1_perf_5                  948 non-null    float64
 30  t2_total_runs5             948 non-null    float64
 31  t2_total_wkts5             948 non-null    float64
 32  t2_bat_per5                948 non-null    float64
 33  t2_bowl_perf5              948 non-null    float64
 34  t2_eff_ply5                948 non-null    float64
 35  t2_perf_5                  948 non-null    float64
 36  t1_total_runs10            948 non-null    float64
 37  t1_total_wkts10            948 non-null    float64
 38  t1_bat_per10               948 non-null    float64
 39  t1_bowl_perf10             948 non-null    float64
 40  t1_eff_ply10               948 non-null    float64
 41  t1_perf_10                 948 non-null    float64
 42  t2_total_runs10            948 non-null    float64
 43  t2_total_wkts10            948 non-null    float64
 44  t2_bat_per10               948 non-null    float64
 45  t2_bowl_perf10             948 non-null    float64
 46  t2_eff_ply10               948 non-null    float64
 47  t2_perf_10                 948 non-null    float64
 48  t1_total_runs15            948 non-null    float64
 49  t1_total_wkts15            948 non-null    float64
 50  t1_bat_per15               948 non-null    float64
 51  t1_bowl_perf15             948 non-null    float64
 52  t1_eff_ply15               948 non-null    float64
 53  t1_perf_15                 948 non-null    float64
 54  t2_total_runs15            948 non-null    float64
 55  t2_total_wkts15            948 non-null    float64
 56  t2_bat_per15               948 non-null    float64
 57  t2_bowl_perf15             948 non-null    float64
 58  t2_eff_ply15               948 non-null    float64
 59  t2_perf_15                 948 non-null    float64
dtypes: float64(41), int32(1), int64(5), object(13)
memory usage: 440.8+ KB

In [148]:
train_data.to_csv("train_data_new.csv")

In [149]:
def winpCrossLastn(team1_id, team2_id, date, n):
    '''
    Function to compute team1's win% against team2 from the current game in their past n encounters.
    
    Input-
    1. team1_id: ID of team1 to calculate win% of.
    2. team2_id: ID of team2 to calculate win% against.
    3: date: match date of the current game for which the feature is to be calculated.
    4. n: look-back window of games for both these teams.
    
    Output- None
    
    Returns- Float value denoting team1's win% against team2 in their past n games against each other.
    '''
    # filter out games where either team1_id is input team1 and team2_id is input team2, or where team2_id is input team1 and team1_id is input team2.
    # Also, match date is less than current games's input date, sort desc by date and get top n rows (games)
    df_rel = match_data[(match_data['match_dt']<date)&\
                      (((match_data['team1_id']==team1_id)&(match_data['team2_id']==team2_id))|((match_data['team1_id']==team2_id)&(match_data['team2_id']==team1_id)))]\
                        .sort_values(by='match_dt', ascending=False).head(n)
    win_count = df_rel[df_rel['winner_id']==team1_id].shape[0] # Counting number of rows (games) where winner is input team1.
    if win_count == 0:
        return 0
    return round(win_count*100/df_rel.shape[0], 2) # return Float denoting team1's win% against team2 in past n games rounded to 2 decimal places.

In [150]:
train_data['team1_winp_team2_last5'] = train_data.progress_apply(lambda x: \
                                  winpCrossLastn(x['team1_id'], x['team2_id'], x['match_dt'], 10), axis=1)

100%|███████████████████████████████████████████████████████████████████████████████| 948/948 [00:01<00:00, 793.61it/s]

In [151]:
train_data['team1_winp_team2_last10'] = train_data.progress_apply(lambda x: \
                                  winpCrossLastn(x['team1_id'], x['team2_id'], x['match_dt'], 15), axis=1)

100%|███████████████████████████████████████████████████████████████████████████████| 948/948 [00:01<00:00, 848.11it/s]

In [152]:
def ground_advantage(row , n):
    '''
    This function calculates the ralative no. of matches won by team 1 against team 2 on a ground before a particular date

    Input-
    1. row: the row of the dataframe to which it is going to be applied to
    2. n = how many matches out of them to be picked, type int
    '''

    t1_df = match_data[((match_data["winner"] == row["team1"]) & (match_data["ground_id"] == row["ground_id"]) \
                        &(match_data["match_dt"] < row["match_dt"]))].sort_values(by='match_dt', ascending=False).head(n)
    t2_df = match_data[((match_data["winner"] == row["team2"]) & (match_data["ground_id"] == row["ground_id"]) \
                        &(match_data["match_dt"] < row["match_dt"]))].sort_values(by='match_dt', ascending=False).head(n)
    count_t1 = t1_df.shape[0]
    # print(count_t1)
    count_t2 = t2_df.shape[0]
    # print(count_t2)

    if count_t2 == 0:
        return count_t1
    else:
        return count_t1/count_t2

In [153]:
ground_advantage(row , 15)

1.0

In [154]:
train_data["ground5"] = train_data.progress_apply(lambda x: ground_advantage(x , 5) , axis = 1)
train_data["ground10"] = train_data.progress_apply(lambda x: ground_advantage(x , 10) , axis = 1)
train_data["ground15"] = train_data.progress_apply(lambda x: ground_advantage(x , 15) , axis = 1)
train_data.head()

100%|███████████████████████████████████████████████████████████████████████████████| 948/948 [00:01<00:00, 582.97it/s]
100%|███████████████████████████████████████████████████████████████████████████████| 948/948 [00:01<00:00, 642.43it/s]
100%|███████████████████████████████████████████████████████████████████████████████| 948/948 [00:01<00:00, 591.73it/s]

,match id,team1,team1_id,team1_roster_ids,team2,team2_id,team2_roster_ids,winner,winner_id,toss winner,toss decision,venue,city,match_dt,lighting,series_name,season,ground_id,team_count_50runs_last15,team_winp_last5,team1only_avg_runs_last15,team1_winp_team2_last15,ground_avg_runs_last15,match_winners,t1_total_runs5,t1_total_wkts5,t1_bat_per5,t1_bowl_perf5,t1_eff_ply5,t1_perf_5,t2_total_runs5,t2_total_wkts5,t2_bat_per5,t2_bowl_perf5,t2_eff_ply5,t2_perf_5,t1_total_runs10,t1_total_wkts10,t1_bat_per10,t1_bowl_perf10,t1_eff_ply10,t1_perf_10,t2_total_runs10,t2_total_wkts10,t2_bat_per10,t2_bowl_perf10,t2_eff_ply10,t2_perf_10,t1_total_runs15,t1_total_wkts15,t1_bat_per15,t1_bowl_perf15,t1_eff_ply15,t1_perf_15,t2_total_runs15,t2_total_wkts15,t2_bat_per15,t2_bowl_perf15,t2_eff_ply15,t2_perf_15,team1_winp_team2_last5,team1_winp_team2_last10,ground5,ground10,ground15
0,9331181,Ba,11283,9373356.0:7857520.0:4232164.0:4566540.0:329940...,Hl Ph,12634,3500958.0:4231751.0:2735081.0:2035102.0:369833...,Hl Ph,12634,Hl Ph,field,Hr Ct Sm Ie,Indore,2022-10-20,day/night match,Sd Mq Ai Ty,2022/23,7398,1.666667,0.672131,139.000000,100.0,157.178571,1,60.8,3.6,1.000000,0.875041,5.552917,0.393646,27.4,2.2,1.000000,0.212707,2.742955,1.212707,52.5,3.7,0.925254,1.000000,5.466185,1.968920,44.0,2.2,1.000000,0.015540,2.782273,1.015540,46.466667,4.200000,0.765869,1.000000,5.239478,2.319222,32.266667,2.533333,1.000000,0.072311,2.781829,1.072311,100.0,100.0,1.0,1.0,1.0
1,8797060,Ed,20,2089079.0:6139370.0:2076192.0:62432.0:2083409....,Wt Is,41,4690258.0:4069666.0:4230127.0:1942317.0:161392...,Ed,20,Wt Is,field,Kn Ol Bn Bs,Bridgetown,2022-01-23,day/night match,Ed tr of Wt Is,2021/22,1406,1.285714,1.952381,156.000000,50.0,103.500000,0,140.6,4.4,1.000000,0.842245,9.454016,0.437512,138.0,7.6,1.000000,0.708325,9.528553,0.854163,164.3,6.1,1.000000,0.487849,10.120646,0.117039,138.2,6.9,1.000000,0.921974,10.393670,1.921974,177.333333,6.266667,1.000000,0.473901,10.184626,0.082128,143.866667,6.800000,0.945248,1.000000,10.373848,4.863121,50.0,50.0,0.0,0.0,0.0
2,9433269,We,10576,3298427.0:2288789.0:7773338.0:3519011.0:368195...,Ne,8987,4003390.0:1749075.0:1626526.0:4172447.0:551672...,We,10576,Ne,field,Tt Be Nm,Nottingham,2023-06-02,day/night match,Vy Bt,2023,251,0.857143,0.672131,173.266667,0.0,154.333333,0,151.8,5.2,1.000000,0.808708,8.562802,0.383222,118.4,5.6,0.744519,1.000000,9.129609,1.744519,167.2,4.9,1.000000,0.561458,8.441537,0.299834,119.4,5.2,0.880067,1.000000,8.756126,3.760133,151.400000,5.133333,1.000000,0.587431,8.359240,0.383271,114.066667,4.933333,0.846691,1.000000,8.518012,6.463420,0.0,0.0,0.0,0.0,0.0
3,9587073,Ga An Ws,36084,8127230.0:4690328.0:4069666.0:7960847.0:469018...,Bs Rs,36070,3462080.0:2436405.0:1798705.0:7550857.0:574247...,Ga An Ws,36084,Ga An Ws,bat,Bn La Sm Ta Td,Tarouba,2023-09-10,day match,Cn Pr Le,2023,14300,2.166667,1.975610,164.266667,50.0,144.250000,0,150.0,8.2,0.696507,1.000000,10.413767,0.788915,110.4,8.6,0.474057,1.000000,8.714146,1.474057,133.4,6.2,1.000000,0.835921,9.894604,1.314183,141.8,8.4,0.561939,1.000000,8.883873,4.685817,124.333333,5.533333,1.000000,0.943060,9.356508,1.553987,130.733333,7.800000,0.556004,1.000000,8.764738,4.668011,50.0,50.0,0.0,0.0,0.0
4,9516457,Pb Ks,30407,8127181.0:197658.0:4239038.0:2398346.0:5053082...,Gt Ts,48341,1958683.0:7491224.0:8059029.0:4377610.0:225245...,Gt Ts,48341,Gt Ts,field,Pb Ct An IS Ba Sm Mi Ch,Chandigarh,2023-04-13,night match,In Pr Le,2023,7118,0.818182,1.327869,164.666667,0.0,189.000000,1,189.6,7.4,1.000000,0.563559,9.931708,0.518326,154.4,4.8,1.000000,0.740837,9.085245,3.481674,176.6,7.2,1.000000,0.475953,10.460444,0.943745,156.6,6.0,1.000000,0.622502,9.305320,4.056255,168.400000,6.866667,1.000000,0.369600,10.485322,0.752668,146.133333,5.666667,1.000000,0.784952,9.171197,4.462380,0.0,0.0,1.0,1.0,1.0

In [155]:
#dropping the features that had been provided already in the data
train_data.drop(['team1only_avg_runs_last15' , 'ground_avg_runs_last15'] , axis = 1 , inplace = True)
train_data["toss_winners"] = np.where(train_data["toss winner"] == train_data["team1"] , 0 , 1)

In [156]:
train_data.head(5)

,match id,team1,team1_id,team1_roster_ids,team2,team2_id,team2_roster_ids,winner,winner_id,toss winner,toss decision,venue,city,match_dt,lighting,series_name,season,ground_id,team_count_50runs_last15,team_winp_last5,team1_winp_team2_last15,match_winners,t1_total_runs5,t1_total_wkts5,t1_bat_per5,t1_bowl_perf5,t1_eff_ply5,t1_perf_5,t2_total_runs5,t2_total_wkts5,t2_bat_per5,t2_bowl_perf5,t2_eff_ply5,t2_perf_5,t1_total_runs10,t1_total_wkts10,t1_bat_per10,t1_bowl_perf10,t1_eff_ply10,t1_perf_10,t2_total_runs10,t2_total_wkts10,t2_bat_per10,t2_bowl_perf10,t2_eff_ply10,t2_perf_10,t1_total_runs15,t1_total_wkts15,t1_bat_per15,t1_bowl_perf15,t1_eff_ply15,t1_perf_15,t2_total_runs15,t2_total_wkts15,t2_bat_per15,t2_bowl_perf15,t2_eff_ply15,t2_perf_15,team1_winp_team2_last5,team1_winp_team2_last10,ground5,ground10,ground15,toss_winners
0,9331181,Ba,11283,9373356.0:7857520.0:4232164.0:4566540.0:329940...,Hl Ph,12634,3500958.0:4231751.0:2735081.0:2035102.0:369833...,Hl Ph,12634,Hl Ph,field,Hr Ct Sm Ie,Indore,2022-10-20,day/night match,Sd Mq Ai Ty,2022/23,7398,1.666667,0.672131,100.0,1,60.8,3.6,1.000000,0.875041,5.552917,0.393646,27.4,2.2,1.000000,0.212707,2.742955,1.212707,52.5,3.7,0.925254,1.000000,5.466185,1.968920,44.0,2.2,1.000000,0.015540,2.782273,1.015540,46.466667,4.200000,0.765869,1.000000,5.239478,2.319222,32.266667,2.533333,1.000000,0.072311,2.781829,1.072311,100.0,100.0,1.0,1.0,1.0,1
1,8797060,Ed,20,2089079.0:6139370.0:2076192.0:62432.0:2083409....,Wt Is,41,4690258.0:4069666.0:4230127.0:1942317.0:161392...,Ed,20,Wt Is,field,Kn Ol Bn Bs,Bridgetown,2022-01-23,day/night match,Ed tr of Wt Is,2021/22,1406,1.285714,1.952381,50.0,0,140.6,4.4,1.000000,0.842245,9.454016,0.437512,138.0,7.6,1.000000,0.708325,9.528553,0.854163,164.3,6.1,1.000000,0.487849,10.120646,0.117039,138.2,6.9,1.000000,0.921974,10.393670,1.921974,177.333333,6.266667,1.000000,0.473901,10.184626,0.082128,143.866667,6.800000,0.945248,1.000000,10.373848,4.863121,50.0,50.0,0.0,0.0,0.0,1
2,9433269,We,10576,3298427.0:2288789.0:7773338.0:3519011.0:368195...,Ne,8987,4003390.0:1749075.0:1626526.0:4172447.0:551672...,We,10576,Ne,field,Tt Be Nm,Nottingham,2023-06-02,day/night match,Vy Bt,2023,251,0.857143,0.672131,0.0,0,151.8,5.2,1.000000,0.808708,8.562802,0.383222,118.4,5.6,0.744519,1.000000,9.129609,1.744519,167.2,4.9,1.000000,0.561458,8.441537,0.299834,119.4,5.2,0.880067,1.000000,8.756126,3.760133,151.400000,5.133333,1.000000,0.587431,8.359240,0.383271,114.066667,4.933333,0.846691,1.000000,8.518012,6.463420,0.0,0.0,0.0,0.0,0.0,1
3,9587073,Ga An Ws,36084,8127230.0:4690328.0:4069666.0:7960847.0:469018...,Bs Rs,36070,3462080.0:2436405.0:1798705.0:7550857.0:574247...,Ga An Ws,36084,Ga An Ws,bat,Bn La Sm Ta Td,Tarouba,2023-09-10,day match,Cn Pr Le,2023,14300,2.166667,1.975610,50.0,0,150.0,8.2,0.696507,1.000000,10.413767,0.788915,110.4,8.6,0.474057,1.000000,8.714146,1.474057,133.4,6.2,1.000000,0.835921,9.894604,1.314183,141.8,8.4,0.561939,1.000000,8.883873,4.685817,124.333333,5.533333,1.000000,0.943060,9.356508,1.553987,130.733333,7.800000,0.556004,1.000000,8.764738,4.668011,50.0,50.0,0.0,0.0,0.0,0
4,9516457,Pb Ks,30407,8127181.0:197658.0:4239038.0:2398346.0:5053082...,Gt Ts,48341,1958683.0:7491224.0:8059029.0:4377610.0:225245...,Gt Ts,48341,Gt Ts,field,Pb Ct An IS Ba Sm Mi Ch,Chandigarh,2023-04-13,night match,In Pr Le,2023,7118,0.818182,1.327869,0.0,1,189.6,7.4,1.000000,0.563559,9.931708,0.518326,154.4,4.8,1.000000,0.740837,9.085245,3.481674,176.6,7.2,1.000000,0.475953,10.460444,0.943745,156.6,6.0,1.000000,0.622502,9.305320,4.056255,168.400000,6.866667,1.000000,0.369600,10.485322,0.752668,146.133333,5.666667,1.000000,0.784952,9.171197,4.462380,0.0,0.0,1.0,1.0,1.0,1

In [157]:
#fetching statistics for past 10 matches for test data
test_df_10 = test_data.progress_apply(lambda x: fetch_stats(x , 10) , axis = 1)
test_df_10 = pd.DataFrame(test_df_10.to_list())
test_df_10.columns = last_10
test_df_10.head()

100%|████████████████████████████████████████████████████████████████████████████████| 271/271 [01:08<00:00,  3.95it/s]

,t1_total_runs10,t1_total_wkts10,t1_bat_per10,t1_bowl_perf10,t1_eff_ply10,t1_perf_10,t2_total_runs10,t2_total_wkts10,t2_bat_per10,t2_bowl_perf10,t2_eff_ply10,t2_perf_10
0,15.4,0.7,1.000000,NaN,6.656839,0.000000,69.9,3.7,1.000000,0.433256,9.080256,0.000000
1,149.4,6.0,0.764735,1.000000,10.010506,0.259895,149.5,8.0,1.000000,0.870053,10.093329,1.870053
2,169.7,6.9,1.000000,0.877899,10.492858,1.043961,164.4,7.3,0.582415,1.000000,10.388592,1.582415
3,115.5,7.1,0.774345,1.000000,9.523248,1.155890,153.6,5.5,0.614703,1.000000,8.494926,1.614703
4,204.0,6.0,0.861052,1.000000,10.409923,0.089263,175.5,7.3,0.940491,1.000000,10.542202,0.000000

In [158]:
test_df_15 = test_data.progress_apply(lambda x: fetch_stats(x , 15) , axis = 1)
test_df_15 = pd.DataFrame(test_df_15.to_list())
test_df_15.columns = last_15
test_df_15.head()

100%|████████████████████████████████████████████████████████████████████████████████| 271/271 [01:08<00:00,  3.96it/s]

,t1_total_runs15,t1_total_wkts15,t1_bat_per15,t1_bowl_perf15,t1_eff_ply15,t1_perf_15,t2_total_runs15,t2_total_wkts15,t2_bat_per15,t2_bowl_perf15,t2_eff_ply15,t2_perf_15
0,10.266667,0.466667,1.00000,NaN,6.656839,0.000000,46.600000,2.466667,1.000000,0.433256,9.080256,0.000000
1,157.933333,5.733333,0.91617,1.000000,9.359364,0.219633,150.266667,7.066667,1.000000,0.890183,10.146589,1.890183
2,175.666667,7.666667,1.00000,0.789818,10.635298,1.696531,159.266667,7.000000,0.515277,1.000000,10.176403,1.515277
3,111.933333,5.733333,1.00000,0.949781,9.272896,1.531392,136.266667,4.666667,0.562459,1.000000,8.574080,1.562459
4,185.400000,6.466667,1.00000,0.640956,10.420755,0.236700,153.400000,6.866667,0.921100,1.000000,10.424981,0.000000

In [159]:
test_df_5 = test_data.progress_apply(lambda x: fetch_stats(x , 5) , axis = 1)
test_df_5 = pd.DataFrame(test_df_5.to_list())
test_df_5.columns = last_5
test_df_5.head()

100%|████████████████████████████████████████████████████████████████████████████████| 271/271 [01:07<00:00,  4.00it/s]

,t1_total_runs5,t1_total_wkts5,t1_bat_per5,t1_bowl_perf5,t1_eff_ply5,t1_perf_5,t2_total_runs5,t2_total_wkts5,t2_bat_per5,t2_bowl_perf5,t2_eff_ply5,t2_perf_5
0,30.8,1.4,1.000000,NaN,6.656839,0.000000,139.8,6.2,1.000000,0.585694,8.972478,0.000000
1,177.0,8.2,0.680342,1.0,10.342541,0.587979,133.4,8.0,0.608014,1.000000,9.782002,1.608014
2,197.8,6.2,0.663945,1.0,10.113330,0.541316,187.6,7.4,0.639123,1.000000,10.264534,1.639123
3,129.8,9.0,0.973776,1.0,9.826054,0.254396,183.8,7.6,0.830403,1.000000,8.922698,0.915201
4,210.2,5.8,0.734267,1.0,10.331061,0.136940,171.2,5.6,0.863060,1.000000,9.908920,0.000000

In [160]:
test_data[last_5] = test_df_5
test_data[last_10] = test_df_10
test_data[last_15] = test_df_15
test_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 271 entries, 0 to 270
Data columns (total 57 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   match id                   271 non-null    int64
 1   team1                      271 non-null    object
 2   team1_id                   271 non-null    int64
 3   team1_roster_ids           271 non-null    object
 4   team2                      271 non-null    object
 5   team2_id                   271 non-null    int64
 6   team2_roster_ids           271 non-null    object
 7   toss winner                271 non-null    object
 8   toss decision              271 non-null    object
 9   venue                      271 non-null    object
 10  city                       271 non-null    object
 11  match_dt                   271 non-null    object
 12  lighting                   271 non-null    object
 13  series_name                271 non-null    object
 14  season                     271 non-null    object
 15  ground_id                  271 non-null    int64
 16  team_count_50runs_last15   271 non-null    float64
 17  team_winp_last5            271 non-null    float64
 18  team1only_avg_runs_last15  264 non-null    float64
 19  team1_winp_team2_last15    271 non-null    float64
 20  ground_avg_runs_last15     261 non-null    float64
 21  t1_total_runs5             271 non-null    float64
 22  t1_total_wkts5             271 non-null    float64
 23  t1_bat_per5                269 non-null    float64
 24  t1_bowl_perf5              263 non-null    float64
 25  t1_eff_ply5                271 non-null    float64
 26  t1_perf_5                  262 non-null    float64
 27  t2_total_runs5             271 non-null    float64
 28  t2_total_wkts5             271 non-null    float64
 29  t2_bat_per5                271 non-null    float64
 30  t2_bowl_perf5              262 non-null    float64
 31  t2_eff_ply5                271 non-null    float64
 32  t2_perf_5                  262 non-null    float64
 33  t1_total_runs10            271 non-null    float64
 34  t1_total_wkts10            271 non-null    float64
 35  t1_bat_per10               269 non-null    float64
 36  t1_bowl_perf10             263 non-null    float64
 37  t1_eff_ply10               271 non-null    float64
 38  t1_perf_10                 262 non-null    float64
 39  t2_total_runs10            271 non-null    float64
 40  t2_total_wkts10            271 non-null    float64
 41  t2_bat_per10               271 non-null    float64
 42  t2_bowl_perf10             262 non-null    float64
 43  t2_eff_ply10               271 non-null    float64
 44  t2_perf_10                 262 non-null    float64
 45  t1_total_runs15            271 non-null    float64
 46  t1_total_wkts15            271 non-null    float64
 47  t1_bat_per15               269 non-null    float64
 48  t1_bowl_perf15             263 non-null    float64
 49  t1_eff_ply15               271 non-null    float64
 50  t1_perf_15                 262 non-null    float64
 51  t2_total_runs15            271 non-null    float64
 52  t2_total_wkts15            271 non-null    float64
 53  t2_bat_per15               271 non-null    float64
 54  t2_bowl_perf15             262 non-null    float64
 55  t2_eff_ply15               271 non-null    float64
 56  t2_perf_15                 262 non-null    float64
dtypes: float64(41), int64(4), object(12)
memory usage: 120.8+ KB

In [161]:
test_data['team1_winp_team2_last10'] = test_data.progress_apply(lambda x: \
                                  winpCrossLastn(x['team1_id'], x['team2_id'], x['match_dt'], 10), axis=1)
test_data['team1_winp_team2_last15'] = test_data.progress_apply(lambda x: \
                                  winpCrossLastn(x['team1_id'], x['team2_id'], x['match_dt'], 15), axis=1)

100%|███████████████████████████████████████████████████████████████████████████████| 271/271 [00:00<00:00, 880.00it/s]
100%|███████████████████████████████████████████████████████████████████████████████| 271/271 [00:00<00:00, 874.08it/s]

In [162]:
test_data["toss_winners"] = np.where(test_data["toss winner"] == test_data["team1"] , 0 , 1)
test_data["ground5"] = test_data.progress_apply(lambda x: ground_advantage(x , 5) , axis = 1)
test_data["ground10"] = test_data.progress_apply(lambda x: ground_advantage(x , 10) , axis = 1)
test_data["ground15"] = test_data.progress_apply(lambda x: ground_advantage(x , 15) , axis = 1)
test_data.head()

100%|███████████████████████████████████████████████████████████████████████████████| 271/271 [00:00<00:00, 531.88it/s]
100%|███████████████████████████████████████████████████████████████████████████████| 271/271 [00:00<00:00, 650.43it/s]
100%|███████████████████████████████████████████████████████████████████████████████| 271/271 [00:00<00:00, 635.83it/s]

,match id,team1,team1_id,team1_roster_ids,team2,team2_id,team2_roster_ids,toss winner,toss decision,venue,city,match_dt,lighting,series_name,season,ground_id,team_count_50runs_last15,team_winp_last5,team1only_avg_runs_last15,team1_winp_team2_last15,ground_avg_runs_last15,t1_total_runs5,t1_total_wkts5,t1_bat_per5,t1_bowl_perf5,t1_eff_ply5,t1_perf_5,t2_total_runs5,t2_total_wkts5,t2_bat_per5,t2_bowl_perf5,t2_eff_ply5,t2_perf_5,t1_total_runs10,t1_total_wkts10,t1_bat_per10,t1_bowl_perf10,t1_eff_ply10,t1_perf_10,t2_total_runs10,t2_total_wkts10,t2_bat_per10,t2_bowl_perf10,t2_eff_ply10,t2_perf_10,t1_total_runs15,t1_total_wkts15,t1_bat_per15,t1_bowl_perf15,t1_eff_ply15,t1_perf_15,t2_total_runs15,t2_total_wkts15,t2_bat_per15,t2_bowl_perf15,t2_eff_ply15,t2_perf_15,team1_winp_team2_last10,toss_winners,ground5,ground10,ground15
0,9250275,Jy,28594,7438955.0:8271969.0:8369661.0:3685247.0:259025...,Ud Ss of Aa,90,2436944.0:8117500.0:6703528.0:3010748.0:161387...,Ud Ss of Aa,field,Bo Ac Cb,Bulawayo,2022-07-11,day match,Ud Ss of Aa tr of Ze,2022,3226,0.000000,0.019608,NaN,0.00,NaN,30.8,1.4,1.000000,NaN,6.656839,0.000000,139.8,6.2,1.000000,0.585694,8.972478,0.000000,15.4,0.7,1.000000,NaN,6.656839,0.000000,69.9,3.7,1.000000,0.433256,9.080256,0.000000,10.266667,0.466667,1.00000,NaN,6.656839,0.000000,46.600000,2.466667,1.000000,0.433256,9.080256,0.000000,0.00,1,0.0,0.0,0.0
1,9262189,Ga An Ws,36084,3715690.0:6818622.0:4069666.0:393014.0:4690188...,Ja Ts,36098,4690258.0:3761246.0:8464385.0:5742470.0:315072...,Ja Ts,field,Pe Sm Ga,Providence,2022-09-21,night match,Cn Pr Le,2022,13915,0.615385,0.344262,151.285714,66.67,153.500,177.0,8.2,0.680342,1.0,10.342541,0.587979,133.4,8.0,0.608014,1.000000,9.782002,1.608014,149.4,6.0,0.764735,1.000000,10.010506,0.259895,149.5,8.0,1.000000,0.870053,10.093329,1.870053,157.933333,5.733333,0.91617,1.000000,9.359364,0.219633,150.266667,7.066667,1.000000,0.890183,10.146589,1.890183,66.67,1,0.0,0.0,0.0
2,9128776,Rn Rs,30428,8058959.0:2162782.0:2981614.0:7833195.0:755605...,Lw Sr Gs,48334,2654014.0:2954769.0:8058903.0:3479860.0:329940...,Rn Rs,bat,Be Sm Mi,Mumbai,2022-05-15,night match,In Pr Le,2022,2764,0.842105,0.753086,171.066667,100.00,179.625,197.8,6.2,0.663945,1.0,10.113330,0.541316,187.6,7.4,0.639123,1.000000,10.264534,1.639123,169.7,6.9,1.000000,0.877899,10.492858,1.043961,164.4,7.3,0.582415,1.000000,10.388592,1.582415,175.666667,7.666667,1.00000,0.789818,10.635298,1.696531,159.266667,7.000000,0.515277,1.000000,10.176403,1.515277,100.00,0,0.5,0.5,0.5
3,9586919,Ja Ts,36098,4690258.0:8464385.0:1613898.0:5744780.0:315072...,St La Ks,36112,2331475.0:313809.0:391103.0:2742837.0:2097017....,St La Ks,field,Dn Sy Nl Ct Sm Gs It St La,Gros Islet,2023-08-16,night match,Cn Pr Le,2023,11892,0.285714,1.487805,166.000000,75.00,155.500,129.8,9.0,0.973776,1.0,9.826054,0.254396,183.8,7.6,0.830403,1.000000,8.922698,0.915201,115.5,7.1,0.774345,1.000000,9.523248,1.155890,153.6,5.5,0.614703,1.000000,8.494926,1.614703,111.933333,5.733333,1.00000,0.949781,9.272896,1.531392,136.266667,4.666667,0.562459,1.000000,8.574080,1.562459,75.00,1,0.5,0.5,0.5
4,9128538,Ci Sr Ks,30414,7422673.0:249087.0:62432.0:232000.0:5001170.0:...,Gt Ts,48341,1958683.0:7491224.0:3339160.0:5452754.0:225245...,Gt Ts,field,Ma Ct An Sm Pe,Pune,2022-04-17,night match,In Pr Le,2022,18752,2.375000,0.310330,169.933333,0.00,164.125,210.2,5.8,0.734267,1.0,10.331061,0.136940,171.2,5.6,0.863060,1.000000,9.908920,0.000000,204.0,6.0,0.861052,1.000000,10.409923,0.089263,175.5,7.3,0.940491,1.000000,10.542202,0.000000,185.400000,6.466667,1.00000,0.640956,10.420755,0.236700,153.400000,6.866667,0.921100,1.000000,10.424981,0.000000,0.00,1,0.0,0.0,0.0

In [163]:
test_data.drop(['team1only_avg_runs_last15' , 'ground_avg_runs_last15'] , axis = 1 , inplace = True)
test_data.fillna(0 , inplace = True)

In [164]:
train_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 948 entries, 0 to 947
Data columns (total 64 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   match id                  948 non-null    int64
 1   team1                     948 non-null    object
 2   team1_id                  948 non-null    int64
 3   team1_roster_ids          948 non-null    object
 4   team2                     948 non-null    object
 5   team2_id                  948 non-null    int64
 6   team2_roster_ids          948 non-null    object
 7   winner                    948 non-null    object
 8   winner_id                 948 non-null    int64
 9   toss winner               948 non-null    object
 10  toss decision             948 non-null    object
 11  venue                     948 non-null    object
 12  city                      948 non-null    object
 13  match_dt                  948 non-null    object
 14  lighting                  948 non-null    object
 15  series_name               948 non-null    object
 16  season                    948 non-null    object
 17  ground_id                 948 non-null    int64
 18  team_count_50runs_last15  948 non-null    float64
 19  team_winp_last5           948 non-null    float64
 20  team1_winp_team2_last15   948 non-null    float64
 21  match_winners             948 non-null    int32
 22  t1_total_runs5            948 non-null    float64
 23  t1_total_wkts5            948 non-null    float64
 24  t1_bat_per5               948 non-null    float64
 25  t1_bowl_perf5             948 non-null    float64
 26  t1_eff_ply5               948 non-null    float64
 27  t1_perf_5                 948 non-null    float64
 28  t2_total_runs5            948 non-null    float64
 29  t2_total_wkts5            948 non-null    float64
 30  t2_bat_per5               948 non-null    float64
 31  t2_bowl_perf5             948 non-null    float64
 32  t2_eff_ply5               948 non-null    float64
 33  t2_perf_5                 948 non-null    float64
 34  t1_total_runs10           948 non-null    float64
 35  t1_total_wkts10           948 non-null    float64
 36  t1_bat_per10              948 non-null    float64
 37  t1_bowl_perf10            948 non-null    float64
 38  t1_eff_ply10              948 non-null    float64
 39  t1_perf_10                948 non-null    float64
 40  t2_total_runs10           948 non-null    float64
 41  t2_total_wkts10           948 non-null    float64
 42  t2_bat_per10              948 non-null    float64
 43  t2_bowl_perf10            948 non-null    float64
 44  t2_eff_ply10              948 non-null    float64
 45  t2_perf_10                948 non-null    float64
 46  t1_total_runs15           948 non-null    float64
 47  t1_total_wkts15           948 non-null    float64
 48  t1_bat_per15              948 non-null    float64
 49  t1_bowl_perf15            948 non-null    float64
 50  t1_eff_ply15              948 non-null    float64
 51  t1_perf_15                948 non-null    float64
 52  t2_total_runs15           948 non-null    float64
 53  t2_total_wkts15           948 non-null    float64
 54  t2_bat_per15              948 non-null    float64
 55  t2_bowl_perf15            948 non-null    float64
 56  t2_eff_ply15              948 non-null    float64
 57  t2_perf_15                948 non-null    float64
 58  team1_winp_team2_last5    948 non-null    float64
 59  team1_winp_team2_last10   948 non-null    float64
 60  ground5                   948 non-null    float64
 61  ground10                  948 non-null    float64
 62  ground15                  948 non-null    float64
 63  toss_winners              948 non-null    int32
dtypes: float64(44), int32(2), int64(5), object(13)
memory usage: 466.7+ KB

In [165]:
test_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 271 entries, 0 to 270
Data columns (total 60 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   match id                  271 non-null    int64
 1   team1                     271 non-null    object
 2   team1_id                  271 non-null    int64
 3   team1_roster_ids          271 non-null    object
 4   team2                     271 non-null    object
 5   team2_id                  271 non-null    int64
 6   team2_roster_ids          271 non-null    object
 7   toss winner               271 non-null    object
 8   toss decision             271 non-null    object
 9   venue                     271 non-null    object
 10  city                      271 non-null    object
 11  match_dt                  271 non-null    object
 12  lighting                  271 non-null    object
 13  series_name               271 non-null    object
 14  season                    271 non-null    object
 15  ground_id                 271 non-null    int64
 16  team_count_50runs_last15  271 non-null    float64
 17  team_winp_last5           271 non-null    float64
 18  team1_winp_team2_last15   271 non-null    float64
 19  t1_total_runs5            271 non-null    float64
 20  t1_total_wkts5            271 non-null    float64
 21  t1_bat_per5               271 non-null    float64
 22  t1_bowl_perf5             271 non-null    float64
 23  t1_eff_ply5               271 non-null    float64
 24  t1_perf_5                 271 non-null    float64
 25  t2_total_runs5            271 non-null    float64
 26  t2_total_wkts5            271 non-null    float64
 27  t2_bat_per5               271 non-null    float64
 28  t2_bowl_perf5             271 non-null    float64
 29  t2_eff_ply5               271 non-null    float64
 30  t2_perf_5                 271 non-null    float64
 31  t1_total_runs10           271 non-null    float64
 32  t1_total_wkts10           271 non-null    float64
 33  t1_bat_per10              271 non-null    float64
 34  t1_bowl_perf10            271 non-null    float64
 35  t1_eff_ply10              271 non-null    float64
 36  t1_perf_10                271 non-null    float64
 37  t2_total_runs10           271 non-null    float64
 38  t2_total_wkts10           271 non-null    float64
 39  t2_bat_per10              271 non-null    float64
 40  t2_bowl_perf10            271 non-null    float64
 41  t2_eff_ply10              271 non-null    float64
 42  t2_perf_10                271 non-null    float64
 43  t1_total_runs15           271 non-null    float64
 44  t1_total_wkts15           271 non-null    float64
 45  t1_bat_per15              271 non-null    float64
 46  t1_bowl_perf15            271 non-null    float64
 47  t1_eff_ply15              271 non-null    float64
 48  t1_perf_15                271 non-null    float64
 49  t2_total_runs15           271 non-null    float64
 50  t2_total_wkts15           271 non-null    float64
 51  t2_bat_per15              271 non-null    float64
 52  t2_bowl_perf15            271 non-null    float64
 53  t2_eff_ply15              271 non-null    float64
 54  t2_perf_15                271 non-null    float64
 55  team1_winp_team2_last10   271 non-null    float64
 56  toss_winners              271 non-null    int32
 57  ground5                   271 non-null    float64
 58  ground10                  271 non-null    float64
 59  ground15                  271 non-null    float64
dtypes: float64(43), int32(1), int64(4), object(12)
memory usage: 126.1+ KB

In [218]:
test_data['team1_winp_team2_last5'] = test_data.progress_apply(lambda x: \
                                  winpCrossLastn(x['team1_id'], x['team2_id'], x['match_dt'], 5), axis=1)

100%|███████████████████████████████████████████████████████████████████████████████| 271/271 [00:00<00:00, 471.11it/s]

In [220]:
train_data.to_csv("train_data_new.csv")
test_data.to_csv("test_data_new.csv")